body {
  background-color: #3E1B3C;
  padding: 0;
  margin: 0;
}

#input {
  width: 25em;
  height: 3.5em;
  border: .2em solid #59b8c8;
  margin-bottom: 1.5em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3E1B3C;
  padding-left: .8em;
  font-weight: 800;
}

#button {
  width: 25em;
  height: 2.5em;
}
/*=================================
SET GOAL
==================================*/
.setGoal {
  /*background: url('https://i.ebayimg.com/images/g/GskAAOSwrklVBFrH/s-l500.jpg');*/
    background-size: 3em 3.5em;
    background-color: #3E1B3C;

}

.nav-logo {
  background-color: #3E1B3C;
  padding-top: 15px;
  padding-bottom: 20px;

}


/*=================================
MENU ITEMS
==================================*/
.menuItem {

  padding: 20 20;
}
.menu h1, h2, h3 {
  /*font-size: small;*/
  color: #69f4bd;
  margin: auto;
  width: 50%;
  padding-top: 20px;
}
