body {
  /*background: url('https://i.ebayimg.com/images/g/GskAAOSwrklVBFrH/s-l500.jpg');*/
  background-size: 12.5em 12em;
  padding-top: 11em;
}
/*#text {
  padding: .05em .4em;
  margin-bottom: .2em;
  background-color: #ffcb57;
  color: #d43519;
  font-size: 3.4em;
}*/

#input {
  width: 25em;
  height: 3.5em;
  border: .2em solid #59b8c8;
  margin-bottom: 1.5em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d43519;
  padding-left: .8em;
  font-weight: 800;

}

/*#input::placeholder {
  color: red:
}*/

#button {
  width: 25em;
  height: 2.5em;
}
