body {

  padding: 100;
  margin: 100;
}

#input {
  width: 25em;
  height: 3.5em;
  border: .2em solid #59b8c8;
  margin-bottom: 1.5em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d43519;
  padding-left: .8em;
  font-weight: 800;
}

#button {
  width: 25em;
  height: 2.5em;
}
/*=================================
SET GOAL
==================================*/
.setGoal {
  background: url('https://i.ebayimg.com/images/g/GskAAOSwrklVBFrH/s-l500.jpg');
    background-size: 3em 3.5em;
}
.nav-logo {
  background-color: white;
  opacity: .7
}




/*=================================
MENU ITEMS
==================================*/
.menuItem {
  background: #59b8c8;

  padding: 20 20;
}
.menu h1, h2, h3 {
  font-size: small;
}
